:root {
    --dark-blue: #1d1f3e;
    --dark-blue-card: #262845;
    --neon-green: #69f0ae;
    font-family: sans-serif;
    height: 100%;
}
.header{
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    text-align: left;
    margin: 30px 0px 0px 20px;
}
h2{
    color: var(--neon-green);
    font-family: sans-serif;
    margin-top:18%;
    margin-left: 45%;
    font-size: 52px;
}
#photo{
    /*padding: 50px 50px 50px 50px;*/
    border-color: white;
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    margin: -240px 0px 90px 400px ;
}
body{
    background-color: var(--dark-blue);
}
.tab {
    overflow: -moz-hidden-unscrollable ;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
       
  }
  .tab-text{
    font-size: 18px;
    font-family: sans-serif;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 20px;
    transition: 0.3s;
  }
  
 
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    
  }