:root {
    --dark-blue: #1d1f3e;
    --dark-blue-card: #262845;
    --neon-green: #69f0ae;
    font-family: sans-serif;
    height: 100%;
}
.top-name{
  font-family: sans-serif;
  text-decoration: none;
}
.main-text{
  padding: 12% 12%;
}
.my-name{
  color: white;
  font-family: sans-serif;
  /*position: absolute;
  top: 25%;
  left: 10%;*/
  font-size: 3em;

}
#photo{
  border-color: white;
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;

}

body{
    background-color: var(--dark-blue);
}

.nav-item a {
  display: block;
  font-family: sans-serif;
  color: #f2f2f2!important;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;

}
.nav-item a:hover {
  background-color: #ddd;
  color: black !important;
}
.nav-item a.active {
  background-color:var(--neon-green) ;
  color: black;
}
.topnav .icon {
  display: none;
}
