.red{
  height: 100 px;
  width : 100 px;
  background-color: red;
}
.blue{
  height: 100 px;
  width : 100 px;
  background-color : blue;
}
.yellow{
  height: 100 px;
  width : 100 px;
  background-color : yellow;
}
